* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana;
    background-color: #DCDCDC;
}

.adress {
    margin: 10px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #AFD275;
}

.header {
    text-align: center;
    padding-top: 3px;
}

.name {
    border-style: double hidden double hidden;
    text-transform: uppercase;
    margin: 10px;
    font-family: Georgia;
    font-size: 60px;
}

.section-title {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.main {
    margin-left: 10px;
    margin-top: 25px;
}

li {
    list-style-position: inside;
    list-style-type: square;
}

.inside-list {
    list-style-type: "- ";
    padding-left: 20px;
}

section {
    padding-bottom: 10px;
}

.working-title-and-employer {
    font-style: italic;
    font-weight: bold;
}

.work-item,
.education-item {
    margin-top: 10px;
}

img {
    width: 370px;
    position: absolute;
    margin-top: 132px;
    margin-left: 925px;
}

a {
    text-decoration: none;
}